{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'booking/arrow.css'%}" />
    <link rel="stylesheet" href="{% static 'booking/main.css'%}" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>CabRide</title>
</head>
<body>
    <header>
        <nav class="navbar has-shadow pr40 pl40 pt5 pb5" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-size-3 has-text-info">CabRide</h1>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="responsive-nav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="responsive-nav" class="pl50 navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">Home</a>
                    <a href="/cabsnearby" class="navbar-item">Cabs Nearby</a>
                    <a href="/pastrides" class="navbar-item">Past Rides</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-info">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function sendValBooking(number){
            leaving_from = $(`#leaving_from_${number}`).text()
            going_to = $(`#going_to_${number}`).text()
            total_distance = $(`#total_distance_${number}`).text()
            ride_fair = $(`#ride_fair_${number}`).text()
            cabs_driver = $(`#cabs_driver_${number}`).text()

            local_data = `${leaving_from}-${going_to}-${total_distance}-${ride_fair}-${cabs_driver}`

            console.log(local_data)
            $.ajax({
                type: "POST",
                url: {% url 'create-booking' %},
                data: {
                    'content': local_data,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(result){
                    $(`#booking_record_${number}`).remove()
                }
            })
        }
    </script>
</body>
</html>
