{% extends 'booking/base.html' %}

{% block content %}
<div class="pt50">
    <h1 class="is-size-2 title m0">
        Welcome to the <span class="has-text-info">CabRide</span>
    </h1>
    <span class="is-size-5">
        Most convenient place to book your ride.
    </span>
</div>

<div class="booking-form">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% csrf_token %}
            <div class="field pr30">
                <div class="control">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="button is-info" name="button">Check For Ride</button>
    </form>
</div>

<h1 class="is-size-4 pt30">Available Rides:</h1>

<div class="booking-showcase">
    <div class="booking-showcard has-background-info has-text-white">
        <div class="columns">
            <div class="column">
                <p>Leaving from</p>
            </div>
            <div class="column">
                <p>Going to</p>
            </div>
            <div class="column">
                <p>Total Distance</p>
            </div>
            <div class="column">
                <p>Ride Fair</p>
            </div>
            <div class="column">
                <p>Cabs's Driver Name</p>
            </div>
            <div class="column">
                <p class="button-extra">Available to Book</p>
            </div>
        </div>
    </div>

    {% for available_ride in available_rides %}
    {% csrf_token %}
        <div class="booking-showcard booking-showcard-extra" id="booking_record_{{forloop.counter}}">
            <div class="columns">
                <div class="column">
                    <p id="leaving_from_{{forloop.counter}}" class="p5">{{ available_ride.pickup }}</p>
                </div>
                <div class="column">
                    <p id="going_to_{{forloop.counter}}" class="p5">{{ available_ride.drop }}</p>
                </div>
                <div class="column">
                    <p id="total_distance_{{forloop.counter}}" class="p5">{{ available_ride.total_distance }} Km</p>
                </div>
                <div class="column">
                    <p id="ride_fair_{{forloop.counter}}" class="p5">Rs {{ available_ride.ride_fair }}</p>
                </div>
                <div class="column">
                    <p id="cabs_driver_{{forloop.counter}}" class="p5">{{ available_ride.cabs_driver }}</p>
                </div>
                <div class="column">
                    <button id="{{forloop.counter}}" type='submit' onClick="sendValBooking(this.id)" class="button p5 is-info is-light button-extra is-small">Ride Book Now</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
